body 
{
	padding-top: 50px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
p 
{
	font-size: 20px;
}
a.navbar-brand i.logoIcon 
{
	font-size:75%;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand 
{
	color: #e3e7f2;
	font-size: 20px;
}
.contentContainer 
{
	padding: 20px 40px;
}
.contentContainer h1 
{
	text-align: center;
}
.logoIcon 
{
	font-size: 40%;
	display: inline-block;
  	vertical-align: middle;
  	padding-bottom: 5px;
}
#home
{
	background-color: #377BD9;
	color:white;
	text-align: center;
	opacity: 0;
}
#home h3
{
	font-weight: 200;
}
.homeLogo
{
	font-size: 54px;
}
.contactLinks 
{
	margin: 40px 0px 20px 0px;
}
p.contactLinks a
{
	text-decoration: none;
}
h1 
{
	font-size: 48px;
	padding-bottom: 20px;
}
#about 
{
	background-color: #FCFCFC;
	/*color:#818C9A;*/
	color:#000000;
	opacity: 0;
}
#skills
{
	background-color: #FF7E2E;
}
.progress
{
	height:15px;
	background-color: #C9C2F7;
}
.progress-bar 
{
	background-color: #594DA6;
}
#experience
{
	background-color: #27D8B0;
}
.thumbnail 
{
	min-height: 300px;
}
.thumbnail .caption p 
{
	color:#818C9A
}
h3 small
{
	font-weight: 300;
}
.hideme
{
	opacity: 0;
}
.footer
{
	background-color: #333333;
	padding-bottom: 10px;
}
footer p 
{
	font-size: 14px;
}
.pull-right a
{
	text-decoration: none;
	color: white;
}
.pull-right a:hover
{
	text-decoration: none;
	color: #CCCCCC;
}

@media (min-width: 768px) {
	.thumbnail 
	{
		min-height: 300px;
	}
}