/* Standard elements */
html, body { min-height: 100%; }
body { 
	font-family: 'Oswald',Helvetica,Arial,sans-serif;
	background-color:#333333;
}
p, span, td, li {
	color:#E9E9E9;
}
a { color:#1BA1E2; }
h2 {
	text-transform:uppercase;
	color:white;
}
h3 {
	color:#1BA1E2;	
}
.heading_banner {
	position: relative;  
	padding:5px 5px 5px 20px;
	margin-left:30px;
	background-color: #1BA1E2;  
    text-shadow: 0px 1px 2px #bbb;  
    -webkit-box-shadow: 0px 2px 4px #888;  
    -moz-box-shadow: 0px 2px 4px #888;  
    box-shadow: 0px 2px 4px #888;  	
}
.heading_banner:after  
{  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 0px;  
    top: 100%;  
    border-width: 5px 10px;  
    border-style: solid;  
    border-color: #666 #666 transparent transparent; 
}  
.heading_banner:before  
{  
    content: ' ';  
    position: absolute;  
    width: 30px;  
    height: 0;  
    left: -30px;  
    top: 24px;  
    border-width: 20px 10px;  
    border-style: solid;  
    border-color: #1BA1E2 #1BA1E2 #1BA1E2 transparent;
}  
.heading_banner+p, .heading_banner+h3 {
	padding-top:10px;	
}
/* Content containter style */
.content_container a {
	text-decoration:underline;
	opacity: 0.85;
}
.content_container a:hover {
	color:#FFF;	
	text-shadow: 2px 2px 5px #FFF;
	opacity:1;
}

/* Jobs list style */
.jobs_list {
    list-style: none;
}
.jobs_list > li:before {
    content: "★";
    padding-right: 0.5em; 
}

.skill_used_title {
	color:#869595;
	margin-left: 1.5em;
}

.heading {
	border-bottom:thin dashed;	
}

/* Social media links/icons */
.social_media {
	margin:auto;
	list-style: none;	
}
.social_media li {
	float:left;
	margin-right:10px;	
}
.social_media li:hover {
	opacity:0.7;
	cursor:pointer;
}
.icons {
	height:32px;
	width:32px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.facebook {
	left:40px;
	background:url(../images/social_media_icons.jpg) 0 0;	
}
.twitter {
	left:80px;
	background:url(../images/social_media_icons.jpg) -80px 0;	
}
.wordpress {
	left:120px;
	background:url(../images/social_media_icons.jpg) -120px 0;	
}
.linkedin {
	left:160px;
	background:url(../images/social_media_icons.jpg) -40px 0;	
}

